#backpack-colors {
  padding-top: 1%;
  background-color: white;
  color: black;
}

.black-text {
  color: black;
}


.buy-button {
  border-radius: 30%;
}
#color-panel {
  align-items: center;
}

.col-2 {
  margin-top: 3%;
}

.custom-radios {

  div {
    display: inline-block;
  }

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;

        img {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &#color-green-yellow + label span {
      background-color: greenyellow;
    }

    &#color-blue + label span {
      background-color: blue;
    }

    &#color-yellow + label span {
      background-color: yellow;
    }

    &#color-red + label span {
      background-color: red;
    }

    &#color-orange + label span {
      background-color: orange;
    }

    &#color-rebecca-purple + label span {
      background-color: rebeccapurple;
    }


    &#color-5 + label span {
      background-image: -webkit-gradient(
                      linear,
                      right bottom,
                      left bottom,
                      color-stop(0, #99FFA7),
                      color-stop(1, #337EB0)
      );
    }

    &#color-6 + label span {
      background-image: -webkit-gradient(
                      linear,
                      right bottom,
                      left bottom,
                      color-stop(0, #C4BC62),
                      color-stop(1, #4C7D9E)
      );
    }

    &#color-7 + label span {
      background-image: -webkit-gradient(
                      linear,
                      right bottom,
                      left bottom,
                      color-stop(0, #000DFF),
                      color-stop(1, #FF4400)
      );
    }


    &:checked + label span img {
      opacity: 1;
    }
  }
}