#backpack-colors {
  padding-top: 1%;
  background-color: white;
  color: black;
}

.black-text {
  color: black;
}

.color-pick {

}

#color-panel {
  align-items: center;

}

.col-2 {
  margin-top: 3%;
}

.custom-radios {

  div {
    display: inline-block;
  }

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-family: Arial, sans-serif;
      font-size: 14px;

      span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        //box-shadow: inset 2px 0 0 1px rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;

        img {
          opacity: 0;
          transition: all .3s ease;
        }
      }
    }

    &#color-medium-blue + label span {
      background-color: #0000CD;
    }

    &#color-forest-green + label span {
      background-color:  #228B22;
    }

    &#color-yellow + label span {
      background-color: #FFFF00 ;
    }
    
    &#color-orange + label span {
      background-color: #FFA500;
    }

    &#color-teal + label span {
      background-color: #008080;
    }

    &#color-air-blue + label span {
      background-color:  #40E0D0;
    }

    &#color-maroon + label span {
      background-color:  #800000;
    }

    &#color-pink + label span {
      background-color:  #FFE4E1;
    }

    &#color-steel-blue + label span {
      background-color:  #4682B4;
    }

    &#color-darksea-green + label span {
      background-color:  #8FBC8F;
    }

    &#color-deepsky-blue + label span {
      background-color:  #00BFFF;
    }

    &#color-golden-rod + label span {
      background-color:  #DAA520;
    }

    &#color-indigo + label span {
      background-color:  #4B0082;
    }

    &#color-indian-red + label span {
      background-color: #CD5C5C;
    }

    &#color-putty + label span {
      background-color: #FFDAB9;
    }

    &#color-sienna + label span {
      background-color: #A0522D;
    }

    &#color-saddle-brown + label span {
      background-color: #8B4513;
    }

    &#color-peach-pink + label span {
      background-color: #FFC0CB;
    }

    &#color-ox-red + label span {
      background-color: #A52A2A;
    }

    &#color-midnight-blue + label span {
      background-color: #191970;
    }

    &#color-black + label span {
      background-color: #000000;
    }

    &#color-navy + label span {
      background-color: #000080;
    }

    &#color-olivedrab + label span {
      background-color: #6B8E23;
    }

    &#color-paleturquoise + label span {
      background-color: #AFEEEE;
    }

    &#color-frost-green + label span {
      background-color: #008080;
    }

    &#color-graphite + label span {
      background-color: #2F4F4F;
    }

    &#color-fog + label span {
      background-color: #D3D3D3;
    }

    &#color-tomato + label span {
      background-color: #FF6347;
    }

    &#color-gradient-test + label span {
      background: linear-gradient(to right, green 50%, red 50%);
    }

    &:checked + label span img {
      opacity: 1;
    }
  }
}