#call-section {
  height: 893px;
  background: url('call_background.jpeg');
  background-size: cover;
  position: relative;
  background-position: center center;

  .call-text {
    padding-top: 40%;
  }
}

#more-info {
  background: url('about_background.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  height: 1280px;
  width: 100%;
}

#girl {
  width: 100%;
  background: url('girl.png');
  background-size: cover;
  height: 900px;
  background-position: center right;
  position: relative;

}

.call-block-text {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  line-height: 60px;
}

.order-block-title {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
}

.choice-label-text {
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.up-1 {
  padding-top: 3%;
}

.prices {
  padding-top: 2%;
  padding-bottom: 2%;
}

.backpack-new-price {
  color: black;
  font-size: 35px;
  font-family: "Arial Black", sans-serif;
}

.backpack-old-price {
  font-family: "Arial Black", sans-serif;
  color: lightgray;
  font-size: 35px;
}

.backpack-sale {
  padding-top: 3%;
  font-family: "Arial", sans-serif;
  color: gray;
  font-size: 25px;
}


.backpack-sale-percent {
  color: red;
}

.image-backpack-block {
  height: 800px;
}

.backpack-info {
  padding-top: 2%;
  padding-bottom: 2%;
}

.more-info-title {
  padding-top: 30%;
  font-size: 55px;
  line-height: 75px;
  color: #b9281d;
}

.more-info-text {
  padding-left: 5%;
  font-size: 30px;
  line-height: 40px;
  color: white;
  font-family: "Arial", sans-serif;
}


.girl-title {
  font-family: "Arial Black", sans-serif;
  padding-top: 10%;
  color: #a2232e;
  font-size: 40px;
  line-height: 50px;
}

.girl-step {
  padding-top: 5%;
}

.girl-step-title {
  color: black;
  font-size: 30px;
}

.girl-step-text {
  padding-top: 2%;
  color: gray;
  font-size: 20px;
}


.girl-button {
  background-color: #a2232e;
}


.girl-run-modal {
  padding-top: 5%;
}

.title-font {
  font-family: "Arial Black", sans-serif;
}

.text-font {
  font-family: "Arial", sans-serif;
}
