#call-section {
  height: 677px;
  background: url('call_background.jpg');
  background-size: cover;
  position: relative;

  .call-text {
    padding-top: 30%;
  }
}


#girl {
  height: 910px;
  background: url('girl.png');
  background-size: cover;

}

.call-block-text {
  font-family: Apple Chancery, cursive;
  font-size: 40px;
}

.order-block-title {
  font-family: Apple Chancery, cursive;
  font-size: 35px;
}

.choice-label-text {
  font-family: Apple Chancery, cursive;
  font-size: 25px;
}

.up-1 {
  padding-top: 3%;
}

.prices {
  padding-top: 2%;
  padding-bottom: 2%;
}

.backpack-new-price {
  color: black;
  font-size: 40px;
  font-family: Impact, fantasy;
}

.backpack-old-price {
  font-family: Impact, fantasy;
  color: lightgray;
  font-size: 30px;
}

.backpack-sale {
  padding-top: 3%;
  font-family: Impact, fantasy;
  color: gray;
  font-size: 30px;
}

.backpack-sale-percent {
  color: red;
}

.image-backpack-block {
  height: 800px;
}

.backpack-info {
  padding-bottom: 3%;
}